* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
}

.surface {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ddd;
}
.board {
  height: 700px;
  width: 700px;
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  box-shadow: 0vh 1vh 20vh 7px black;
  outline: 5px solid white;
  outline-offset: 2px;
}

@media screen and (max-width: 800px) {
  .board {
    height: 500px;
    width: 500px;
  }
}

@media screen and (max-width: 600px) {
  .board {
    height: 400px;
    width: 400px;
  }
}

@media screen and (max-width: 400px) {
  .board {
    height: 300px;
    width: 300px;
  }
}

/* Black */
.black {
  background: #000;
}
