* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

body, html {
    height : 100%;
    width : 100%;
}

.surface {
    height : 100%;
    width : 100%;
    display : flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
}

.board {
    height : 96vh;
    width : 96vh;
    background-color: #fff;
    display : flex;
    flex-wrap : wrap;
    box-shadow: 0vh 0vh 4vh black;
}

.board .squares {
    border : 0.1vh solid black;
    height : 12vh;
    width : 12vh;
    background-color: red;
}
/* White Squares */
.squares:nth-child(1), 
.squares:nth-child(3), 
.squares:nth-child(5), 
.squares:nth-child(7), 
.squares:nth-child(10), 
.squares:nth-child(12), 
.squares:nth-child(14), 
.squares:nth-child(16), 
.squares:nth-child(17), 
.squares:nth-child(19), 
.squares:nth-child(21), 
.squares:nth-child(23), 
.squares:nth-child(26), 
.squares:nth-child(28), 
.squares:nth-child(30), 
.squares:nth-child(32), 
.squares:nth-child(33), 
.squares:nth-child(35), 
.squares:nth-child(37), 
.squares:nth-child(39), 
.squares:nth-child(42), 
.squares:nth-child(44), 
.squares:nth-child(46), 
.squares:nth-child(48), 
.squares:nth-child(49), 
.squares:nth-child(51), 
.squares:nth-child(53), 
.squares:nth-child(55), 
.squares:nth-child(58), 
.squares:nth-child(60), 
.squares:nth-child(62), 
.squares:nth-child(64) {
    background-color: white;
}
/* Black Squares */
.squares:nth-child(2),
.squares:nth-child(4),
.squares:nth-child(6),
.squares:nth-child(8),
.squares:nth-child(9),
.squares:nth-child(11),
.squares:nth-child(13),
.squares:nth-child(15),
.squares:nth-child(18),
.squares:nth-child(20),
.squares:nth-child(22),
.squares:nth-child(24),
.squares:nth-child(25),
.squares:nth-child(27),
.squares:nth-child(29),
.squares:nth-child(31),
.squares:nth-child(34),
.squares:nth-child(36),
.squares:nth-child(38),
.squares:nth-child(40),
.squares:nth-child(41),
.squares:nth-child(43),
.squares:nth-child(45),
.squares:nth-child(47),
.squares:nth-child(50),
.squares:nth-child(52),
.squares:nth-child(54),
.squares:nth-child(56),
.squares:nth-child(57),
.squares:nth-child(59),
.squares:nth-child(61),
.squares:nth-child(63) {
    background-color: black;
}